:root{
    --main: #b90028;
    --white:#ffd1d1;
}
*, *::after,*::before{
    box-sizing: border-box;
    font-family: monospace;
}
body{
    margin: 0;
}
/* General container */
.general-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header{
    background-color: var(--main);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-height: 55px;
}
.header-margin{
    margin: 0 40px;
}
.logo{
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
}
.button{
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
}
.button-inverted{
    background-color: var(--main);
    color: var(--white);
}
.header-button:hover{
    color: var(--main);
}
/* Container */
.container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 150px;
}
.grid{
    flex-grow: 1;
}
/* Form */
.form{
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.form-title{
    font-size: 1.1rem;
    color: var(--main);
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main);
}   
button{
    width: 80px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label.read{
    flex-direction: row;
}
/* Footer */
footer{
    padding: 5px;
    text-align: center;
    background-color: var(--main);
}
footer p, footer p a{
    margin: 0 5px;
    color: var(--white);
}